{% extends "accounts/base_auth.html" %}

{% block content %}
<h1>Defina sua nova senha</h1>
{% if validlink %}
    <p style="color: var(--secondary-text); margin-bottom: 25px;">Por favor, digite sua nova senha duas vezes para que possamos verificar se você a digitou corretamente.</p>
    <form method="post">
        {% csrf_token %}
        <div class="input-group">
            <i class="fas fa-lock"></i>
            {{ form.new_password1 }} </div>
        <div class="input-group">
            <i class="fas fa-lock"></i>
            {{ form.new_password2 }} </div>
        <button type="submit" class="btn btn-primary">Alterar minha senha</button>
    </form>
{% else %}
    <p style="color: #ff4d4d;">O link para redefinição de senha era inválido, possivelmente porque já foi usado. Por favor, solicite uma nova redefinição de senha.</p>
{% endif %}
{% endblock %}